@page "/statistics"

<PageTitle>TD Statistics</PageTitle>

<h1>Statistics</h1>

<p role="status">Current count 2: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
